<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<h2>Add a list to the database</h2>
<form action="#" th:action="@{/addroom}" th:object="${newroom}" method="post">
    <p>Enter the description : <input type="text" th:field="*description" /></p>
    <p>Enter the rules : <input type="text" th:field="*rules" /></p>
    <p>Enter the cable info : <input type="text" th:field="*cable" /></p>
    <p>Enter the bathroom info : <input type="text" th:field="*bathroom" /></p>
    <p>Enter rented or not: <input type="text" th:field="*isRented" /></p>

    <p><input type="submit" value="Add Rent info" /> <input type="reset" value="Reset" /></p>

    <input type="radio" name="yesOrNo" value="Yes"> Yes<br> <input
        type="radio" name="yesOrNo" value="No"> No<br> <input
        type="submit" value="Submit">

</form>
</body>
</html>